@import '../../../node_modules/antd/lib/style/themes/default.less';

.container {
    :global {
        .ant-steps-item-title {
            white-space: pre;
        }

        .ant-layout-header {
            display: flex;
            justify-content: space-between;
            padding: 0 @form-item-margin-bottom;
        }
    }
}
