@import '~antd/lib/style/themes/default.less';

body {
    color: #000;
    line-height: 1.5;
    background-color: #f2f4f5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
